*{
    margin: 0;
}


body{

    background-color: rgb(54, 190, 145);
    
}
header{
    background-color: aqua;
    height: 40px;
    padding: 10px;
    
   
    
  
}

nav{
    
}

ul{
    
display: flex;
    
    
}


a{
    font-family: fantasy;
    font-size: 20px;
    color: tomato;
    text-decoration: none;
    margin: 20px;

}

ul{
    list-style: none;
}

button{
    display: none;
} 

@media  (max-width: 600px) {
    body {
      background-color: lightblue;
    }

    button{
        display: flex;
        
    }

    li{
        display:none;
    }

    .menu{
        display: flex;
        justify-content: flex-end;
    }
  }
  